*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
background: #82b3eb;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .linha1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2 {
  opacity: 0;
}

.mobile-menu.active .linha3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

img#img1 {
  width: 
  80px;
  height: 50px;
  padding: 8px -20px;
}

.containerslide{
  width: 100%;
  height: 100vh;
  background: #82b3eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 80%;
  height: fit-content;
}

.swiper-slide img {
  width: 100%;
}







.info {
  font-size: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease-out;
  margin-bottom: 30px;
}


.info:hover {
  transition-duration: 0.3s;
  display: block;
  font-size: 38px;
}


.color-span {
  color: rgb(255, 255, 255);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #374350;
}

.card {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#333, #333);
  transition: all .5s;
  margin: 10px;
  
}

.card:hover {
  background-image: linear-gradient(#672abf, #380e74);
}

.card .img-um {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('empresa.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}


.card .img-dois {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('facilitysoft.png');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img-tres {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('parceria.png');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img .mid {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.mid {
  color: rgb(236, 142, 0);
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
}

.card .content-card {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content-card {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content-card p {
  margin: 0;
}

.card .content-card .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content-card .desc {
  font-weight: 100;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  color: white;
  font-size: 24px;
}

.desc {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.saibamais {
  text-align: center;
}

.software {
  color: rgb(255, 208, 0);
  padding: auto;
}

.area-h1 {
  text-align: center;
}

.fb {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.slide-list {
  display: flex;
}

.slide-item {
  cursor: grab;
  flex-shrink: 0;
  padding: 0 10px;
  width: 90vw;
}

.slide-content {
  border-radius: 10px;
  box-shadow: #070707 0px 12px 12px;
  position: relative;
}

.slide-image {
  border-radius: 10px;
  width: 100%;
}

.slide-description {
  border-radius: 10px;
  background: linear-gradient(to top, #000, transparent);
  color: #fff;
  position: absolute;
  padding: 30px;
  bottom: 0;
  width: 100%;
}

.slide-description h3 {
  font-family: 'Koulen', sans-serif;
  font-size: 48px;
  position: relative;
  top: 16px
}

.slide-description p {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.slide-nav-button {
  background: transparent;
  color: rgb(255, 244, 244);
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  z-index: 1;
}

.slide-nav-previous {
  left: 20px;
}

.slide-nav-next {
  right: 20px;
}

.slide-controls {
  margin: 30px auto 0;
}

.slide-control-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: transparent;
  font-size: 18px;
  margin: 0 5px;
}

.slide-control-button.active {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .slide-description {
      padding: 10px;
  }
  
  .slide-description h3 {

    
      font-size: 24px;
      top: 0;
  }

  .slide-description p {
      display: none;
  }

  .slide-nav-button {
      margin-top: -20px;
      font-size: 28px;
  }
  
  .slide-nav-previous {
      left: 10px;
  }
  
  .slide-nav-next {
      right: 10px;
  }

  .slide-controls {
      margin: 15px auto 0;
  }

  .slide-control-button {
      font-size: 14px;
  }
}

footer {
  margin-top: 10px;
  width: 100%;
  min-height: 300px;
  background: #444;
  display: flex;
}


footer .boxs {
  width: 320px;
  min-height: 150px;
  padding: 20px;
}

footer .boxs:nth-child(4) {
  width: 400px;
}

.boxs h2 {
  color: #fff;
  margin-bottom: 20px;
}

.boxs ul li {
  margin: 10px 0;
  list-style: none;
}

.boxs ul li a{
  color: #ddd;
  text-decoration: none;
}

.boxs ul li a:hover {
  color: #fff;
}

.boxs p {
  color: #fff;
  align-items: justify;
}

.footer {
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
  background: #333;
}

.footer h2 {
color: #fff;
}

.footer .sociais {
display: flex;
}

.sociais .social {
width: 40px;
height: 40px;
text-align: center;
background: #ddd;
line-height: 40px;
margin: 10px;
border-radius: 5px;
cursor: pointer;
transition: background .3s linear;
}

.sociais .social a {
color: #000;
font-size: 1.5em;
transition: color .3s linear;
}

.sociais .social:hover {
background: #444;
}

.sociais .social:hover a {
color: #fff;
}
